{% extends "auctions/layout.html" %}

{% block body %}
<h2>Active Listings</h2>
<div class="container-fluid" >
        <div class="row">
            {% for item in query_results %}
                <div class="card list-details col-lg-4 col-sm-12">
                    <div class="card-body">
                    <h5 class="card-title product-title product-description"><i>{{item.title}}</i></h5>
                    <h5 class="card-title product-title product-description"><i>{{item.id}}</i></h5>
                    <h6 class="card-subtitle mb-2 text-muted product-description">{{item.date_created}}</h6>
                    <h6 class="card-subtitle mb-2 text-muted product-description"><strong>{{item.seller}}</strong></h6>
                    <img class="img-fluid" src="{{item.image}}" alt="connect" style="max-height:300px">
                    </div>
                    <ul class="list-group list-group-flush">
    
                            <li class="list-group-item product-description">Initial Bid: {{item.setprice}}</li>
                       
                        <li class="list-group-item product-description">Category: {{item.category}}</li>
                          <li class="list-group-item product-description"><a href="{% url 'listing' item.id %}">Access Me</a></li>
                    </ul>
        </div>
        {% endfor %}
</div>
</div>
{% endblock %}