{% extends "auctions/layout.html" %} 

{% block body %}
<h2 class = "thisisaliceblueh2" style="padding-top: 3%;">
  Active Listings
</h2>

{% for item in query_results %}
<br />
<div class="yoloyoloyolo">
  <div class="card">
    <div class="card-body">
      <div class="indexdivimage">
        <img
          src="{{item.image}}"
          class="img-fluid"
          alt="{{item.title}}"
        />
      </div>

      <div class = "infoforlisting">
        <h4 class="card-title">{{item.title}}</h4>
        <h6 class="card-subtitle mb-2 text-muted">{{item.category}}</h6>
        <p class="text-justify text-truncate para mb-0">{{item.description}}</p>
        <footer class="blockquote-footer">
          Listed on: {{item.date_created}}<cite title="Source Title">
            by {{item.seller}}</cite
          >
        </footer>
      </div>


    </div>
     <div
        class="pricing"
      >
        <h3>${{item.setprice}}</h3>
        <div class= "buttonview">
        <a href="{% url 'listing' item.id %}" class="btn btn-secondary">
          Details
        </a>
        </div>

      </div>
  </div>
</div>
{% endfor %} 

{% endblock %}
