{% extends "auctions/layout.html" %}
{% block body %}
<h2 class="thisisaliceblueh2" style="padding-top: 3%;">Your Watch List</h2>

{% for items in query_results %}
<br />
<div class="yoloyoloyolo">
  <div class="card">
    <div class="card-body">
      <div class="indexdivimage">
        <img
          src="{{items.item.image}}"
          class="img-fluid"
          alt="{{item.title}}"
        />
      </div>

      <div class = "infoforlisting">
        <h4 class="card-title">{{items.item.title}}</h4>
        <h6 class="card-subtitle mb-2 text-muted">{{items.item.category}}</h6>
        <p class="text-justify text-truncate para mb-0">{{items.item.description}}</p>
        <footer class="blockquote-footer">
          Listed on: {{items.item.date_created}}<cite title="Source Title">
            by {{items.item.seller}}</cite
          >
        </footer>
      </div>


    </div>
     <div
        class="pricing"
      >
        <h3>${{items.item.setprice}}</h3>
        <div class= "buttonview">
        <a href="{% url 'listing' items.item.id %}" class="btn btn-secondary">
          Details
        </a>
        </div>

      </div>
  </div>
</div>
{% endfor %} 
{% endblock %}